.vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.myForm {
    width: 100%;
}

.btn {
    width: 100%;
}

body {
    background: url(../image/Login.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#error {
    color: red;
}