.ck-editor__top {
    display: none;
}

#saveArticle {
    display: none;
}

body {
    background: url(../image/Login.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ck {
    border: none !important;
}

h1 {
    margin-top: 0px !important;
}

#error, #myData {
    display: none;
}